# Python
venv/
__pycache__/
*.pyc

# Node/React
kudo-frontend/node_modules/
node_modules/

# Database (Optional: keeps your test data from overwriting others)
kudoscan_siem.db

# Environment variables
.env